<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<title>KANAV A SUX</title>
</head>
<body>
	<a href="/question1"><button class="btn btn-primary">Link 1</button></a>
	<br>
	<a href="/question2"><button class="btn btn-primary">Link 2</button></a>
	<br>
	<a href="/question3"><button class="btn btn-primary">Link 3</button></a>
	<br>
	<a href="/question4"><button class="btn btn-primary">Link 4</button></a>
	<br>
	<a href="/question5"><button class="btn btn-primary">Link 5</button></a>	
</body>
</html>